.App {
  overflow: hidden;
  position: relative;
}

.video-container {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.video {
  object-fit: contain;
}

.timer-container {
  z-index: 100;
  position: absolute;
  top: 20vh;
  left: 20px;
  width: 200px;
  height: 200px;
}

.timer-button-container {
  
  width: 100px;
  text-align: center;
  color: white;
  margin: 30px auto;
}

.timer-button {
  border: 1px solid white;
  box-shadow: 0px 0px 3px 1px rgb(74, 74, 74);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  margin-bottom: -20px;
  cursor: pointer;
  transition: 0.2s linear;
  font-size: 1.3rem;
}

.timer-button:hover {
  background-color: rgba(255,255,255,0.8);
  color: black;
}

.timer-active {
  background-color: rgba(255,255,255,0.8);
  color: black;
}

.options-container {
  position: absolute;
  z-index: 100;
  top: 80vh;
  right: 40px;
}

.full-screen-container {
  position: relative;
  /* right: 70px; */
  z-index: 10;
}

/* .reduce-screen-container {
  position: relative;
  width: 100px;
  height: 40px;
  z-index: 10;
  top:-40px;
} */

.full-screen-button, .reduce-screen-button {
  border: 2px solid rgba(255,255,255,0.7);
}

.full-screen-button, .reduce-screen-button {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 30px;
  transition: 0.2s linear;
  background-color: transparent;
}

.full-screen-button:hover, .reduce-screen-button:hover {
  border: 3px solid rgba(255,255,255,1);
  transform: scale(1.2);
}

.reduce-screen-button {

  position: relative;
   transition: 0.2s linear;
}

.reduce-screen-button:hover .small-square {
  background-color: rgba(255,255,255,1);
  transform: scale(1.2);
}

.small-square {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 10px;
  background-color: rgba(255,255,255,0.7);
}